rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Função que verifica se quem está pedindo o dado tem o crachá de admin
    function isAdmin() {
      return request.auth != null && 
             exists(/databases/$(database)/documents/roles/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.admin == true;
    }

    // Vitrine (Público lê, só Admin altera)
    match /products/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /settings/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /coupons/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Pedidos (Cliente lê os dele, Admin lê e edita todos)
    match /orders/{document=**} {
      allow read: if request.auth != null && (resource.data.userId == request.auth.uid || isAdmin());
      allow write: if isAdmin();
    }

    // Usuários (Cliente lê e edita o dele, Admin lê todos)
    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }

    // Roles (Apenas Admin pode promover alguém a Admin)
    match /roles/{userId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}